<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <title>N27 - Über uns</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>N27 - Über uns</h1>            
        </div>
        <div class="navigationsleiste">
            <a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>  --
            <a href="/about"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>  --
            <a href="/login"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a> --
            <a href="/profil"><i class="fa fa-user fa-2x" aria-hidden="true"></i>         
        </div>
        <div class="inhaltsbereich" >
            <form method="post">
                <label for="Vorname">Name:Vorname</label>
                <input type="text" id="Vorname" name="Vorname" value=<%= vorname %> readonly><br>
        
                <label for="Nachname">Nachname:</label>
                <input type="text" id="Nachname" name="Nachname" value=<%= nachname %> readonly><br><br>
    
                <label for="Email">mail:</label>
                <input type="email" id="mail" name="mail" value=<%= mail %>><br><br>
        
                <label for="Rufnummer">Rufnummer:</label>
                <input type="tel" id="Rufnummer" name="Rufnummer" value=<%= Rufnummer %>><br><br>

                <label for="fname">Kennwort:</label>
                <input type="password" id="" name="Kennwort" value=<%= Kennwort %>><br><br>

                <button></button>
        
    
            </form>


        </div>
        
        <div class="fusszeile">
            &copy; 2022 GW21
        </div>
    </div>
</body>
</html>